# Gate access to web service on inner port 8080, exposing it on port 80
# Access requires execute privilege on the host.
#
# Remember to use EXPOSE docker directive for this to be useful.

gate 80, to: 8080


# Proxy requests on 127.0.0.2:80 to other-service:80 (eg. use docker links to
# set the name or give FQDN), adding host identity Conjur Authorization header.
#
# Note you can use different 127.0.0.0/24 addresses to proxy to different services.

proxy '127.0.0.2:80', to: 'other-service'


# Apply policy name to given conjur env yaml file.
# This prepends $CONJUR_POLICY to all !var and !tmp entries beginning with a slash.

apply_policy '/etc/asgard/asgard.env.yaml'


# Configure the Conjur client.
# Creates a config and credentials file for the host identity, so that you
# can use `conjur` command, eg. `conjur env` in a launch script.

configure_conjur
